/*
#Primary
- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

#Neutral
- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)

#Font
- Weights: 400, 700
*/

@media only screen and (max-width: 1440px) {

  button {
    background-color: hsl(71, 73%, 54%);
    border-radius: 5px;
  }

  body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: hsl(204, 43%, 93%);
    margin: 0;
    padding: 10% 15%;
  }

  p {
    font-size: 9px;
    font-weight: 700;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "top top . ."
      "bottom-1 bottom-2 . .";
    box-shadow: 2px 5px 15px #888888;
  }

  .top {
    background-color: white;
    grid-area: top;
    border-radius: 5px;
  }

  .top-header {
    color: hsl(179, 62%, 43%);
  }

  .top-header-2 {
    color: hsl(71, 73%, 54%);
  }

  .bottom-1 {
    background-color: hsl(179, 62%, 43%);
    color: white;
    grid-area: bottom-1;
    border-radius: 5px;
  }

  .bottom-2 {
    background-color: hsl(179, 62%, 43%);
    color: white;
    grid-area: bottom-2;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 375px) {

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "top"
      "bottom-1"
      "bottom-2";
  }

  .top {
    grid-area: top;
  }

  .bottom-1 {
    grid-area: bottom-1;
  }

  .bottom-2 {
    grid-area: bottom-2;
  }
}
